*.iml
.idea/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles/**
**/target/
**.properties
grunt.properties.json
src/main/resources/*.xml
src/test/resources/*.xml
src/main/resources/flyway.conf
${sys:catalina.base}
src/main/webapp/assets/dist
src/main/webapp/assets/css/dist
src/main/webapp/assets/js/dist
