*.iml
.idea/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles/**
**/target/
**.properties
grunt.properties.json
src/main/resources/*.xml
src/test/resources/*.xml
src/main/resources/flyway.conf
${sys:catalina.base}
