.select {
    display: block;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    padding: .3em .2em;
    background: #fff;
    border: 1px solid #999;
    margin-bottom: 5px;
    margin-top: 5px;
}