.inputCheck {
    box-sizing: border-box;
    margin-right: .2rem;
    line-height: normal;
    width: 20em;
    height: 2em;
    font-size: 100%;
    vertical-align: bottom;
    position: relative;
    border: 1px solid #ccc;
    outline: 0;
    background: #fafafa;
    padding: .3em;
}

.card {
    flex: 0 0 60%;
    margin-top: 15px;
}

.labelCheck {
    display: block;
    color: #111;
    font-weight: 300;
    padding-left: 15px;
    text-indent: -15px;
    width: 300px;
    hyphens: manual;
    word-wrap: break-word;
}