/* App.css */

.Testing {
    display: flex;
    border: 1px solid #ccc;
}

.searchContainer {
    position: relative;
    width: 100%;
}

.searchInput {
    width: 100%;
    font-size: 13px;
    border-radius: 5px;
    outline: none;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}

.option {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.chipsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 5px;
}

.chip {
    background-color: #f1f1f1;
    padding: 5px 5px;
    box-shadow: 0 0 2px black;
    border-radius: 1px;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.chip:hover {
    background-color: #e0e0e0;
}

.close {
    margin-left: 5px;
    float: right;
    color: #888;
}
