.card{
    background: #fefefe;
    position: relative;
    box-shadow: 0 1px 2px #aaa;
    margin-top: 20px;
    overflow: auto;
}

.trainingFilters{
    float: left;
    width: 40%;
    padding: 2em;
}

.filterName{
    font-size: 16px;
    font-weight: 550;
}