/* Pagination.module.css */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    width: 100%;
    position: relative; /* Ensure the pagination covers full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.pageButton {
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    color: #a6a6b3;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.pageButton:hover {
    background-color: #f0f0f0;
    border-color: #007b8a;
}

.pageButton:disabled {
    cursor: not-allowed;
    color: #999;
    border-color: #ddd;
}

.activePage {
    color: #6370bd;
    border-color: #007b8a;
}

.ellipsis {
    margin: 0 5px;
    color: #999;
}