/* universalStyles.css */
.contentContainer {
    font-size: 13px;
    font-weight: 400;
    background: #fefefe;
    position: relative;
    -webkit-box-shadow: 0 1px 2px #aaa;
    -moz-box-shadow: 0 1px 2px #aaa;
    box-shadow: 0 1px 2px #aaa;
    margin-top: 20px;
    box-sizing: border-box;
}
.contentContainer h1 {
    font-size: 1.1em;
    margin: 0;
    text-align: center;
    padding: 4px 10px;
    border-width: 1px;
    border-style: none none solid none;
    color: black;
    border-color: rgba(0, 107, 128, 0.25);
    line-height: 40px;
    font-weight: 600;
}

.contentControls {
    margin-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}
.contentControls label, .contentControls p {
    font-weight: 600;
    color: #006b80;
}
.contentControls>.contentInfo {
    border-bottom: none;
}
.contentInfo {
    margin-top: 0;
    padding: 11px;
    color: #222;
    text-align: center;
    border-bottom: 1px solid rgba(0, 107, 128, .25);
}
.supplyText {
    color: #374282 !important;
    font-weight: 700;
}

.resultsContainer {
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: darkslategrey;
}

.noResults {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Other */
.paddingX {
    padding: 10px;
}
.darkGray {
    color: #4d4d4d;
}
.flexHeader {
    flex: 0 1 auto;
}
.flexContent {
    flex: 1 1 auto;
}
.flexContent ul {
    padding: 0;
    margin: 0;
}
.flexContent li {
    padding: 5px 5px 5px 20px;
}

.leftNavContent {
    padding-bottom: 20px;
    background: #fafafa;
}
.flexColumnBox {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.marginTop20 {
    margin-top: 20px !important;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h1, h2 {
    font-weight: 400;
}

.specialUlContainer ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

a {
    color: teal;
    text-decoration: none;
}

/* Order Info */
.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.col412, .col812, .col112, .col1112, .col12, .col612, .col712, .col212, .col1012 {
    width: 33.33%;
    float: left;
    padding-right: 20px;
}
.col1012 {
    width: 83.333%;
}
.col212 {
    width: 16.667%;
}
.col812 {
    width: 66.66%;
}
.col112 {
    width: 8.33%;
}
.col1112 {
    width: 91.66%;
}
.col12, .col612 {
    width: 50%;
}
.col712 {
    width: 58.33%;
}

b, strong {
    font-weight: 700;
}

/* Supply Div Table */
.supplyDivTable {
    padding: 10px;
    page-break-inside: auto;
}

.supplyDivTableHeader {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px #000 solid;
}

.supplyDivTableHeader div {
    font-weight: bold;
}

.supplyDivTableBody {
    /* Nested selectors for the table rows */
}

.supplyDivTableBody .supplyDivTableRow {
    height: 31px;
    line-height: 31px;
    text-align: center;
    white-space: nowrap;
}

.supplyDivTableBody .supplyDivTableRow:hover {
    background: #e9eeff !important; /* Lighter blue (15% lighter) */
    cursor: pointer;
}

.supplyDivTableBody .supplyDivTableRow {
    page-break-inside: avoid;
}

.supplyDivTableBody .supplyHighlightRow {
    background: #ced2ea !important; /* Lighter blue (30% lighter) */
}

.supplyDivTableBody .supplyHighlightRow:hover {
    background: #98a1d4 !important; /* Lighter blue (15% lighter) */
}

.supplyDivTableBody .darkBackground {
    background: rgba(51, 51, 51, 0.05);
}

.supplyDivTableBody .supplySubTable {
    background: #eaecf6; /* Lighter blue (38% lighter) */
    padding: 10px 10px 25px 50px;
}

.supplyDivTableBody .supplySubTable table tr {
    background: #eaecf6; /* Lighter blue (38% lighter) */
}

.supplyDivTableBody .supplySubTable table tr:hover {
    background: #98a1d4 !important; /* Lighter blue (15% lighter) */
}

.supplyPickupIcon {
    background: url("../../../../assets/img/supply_nodelivery_50.png") center center;
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 50px !important;
    padding-right: 0 !important;
}

.supplySpecialItem {
    background-color: #f9cfc7;
}
.corner-ribbon {
    left: -27px;
    top: 15px;
    width: 100px;
    background: #e43;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    color: #f0f0f0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    overflow: visible;
    white-space: nowrap;
}


/*.supplyListingTable tbody tr:nth-child(even):hover {*/
/*    background: #e9eeff !important;*/
/*}*/


/* Item Table */
table.essTable {
    width: 100%;
}
.supplyListingTable {
    padding-top: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
table.essTable thead {
    background: #fff;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
table.essTable thead tr {
    color: #333;
    font-size: .9em;
    border-bottom: 1px solid #155c69;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}
table.essTable thead tr th {
    padding: 10px 5px;
}

table.essTable tbody tr {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #bbb;
}
.supplyListingTable tbody tr {
    border-bottom: 0 solid #eee !important;
    cursor: pointer;
}
.supplyListingTable tbody tr.warn {
    background: #ffbcbc;
    border-bottom: 0 solid #ffbcbc !important;
}
.supplyListingTable tbody tr.warn:nth-child(even) {
    background: rgba(255, 188, 188, .6);
    border-bottom: 0 solid rgba(255, 188, 188, .6) !important;
}
table.essTable tbody tr td {
    text-align: left;
}
.supplyListingTable tbody tr td {
    padding: .5em;
    border: 0;
    text-align: center !important;
}
.supplyListingTable tbody tr:nth-child(even) {
    background: rgba(51, 51, 51, .05);
}

/* tick and cross for Approved Requisition Requests */
.tick:before {
    content: "\2713";
    color: green;
    font-weight: bold;
}
.cross:before {
    content: "\2717";
    color: crimson;
    font-weight: bold;
}

/*Buttons*/
.linkButton {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

/*Modals?*/
.requisitionModalRightMargin h4 .contentInfo {
    /* Add any necessary styles for .content-info here if it's a placeholder in your preprocessor */
}
.requisitionModalRightMargin h4 {
    margin-top: 0;
    padding: 11px;
    color: #222;
    text-align: center;
    border-bottom: 1px solid rgba(0, 107, 128, .25);
}

.requisitionModalRightMargin input {
    margin-bottom: 10px;
}

.requisitionModalRightMargin div {
    margin-bottom: 10px;
}

.requisitionModalRightMargin .fulfillmentModalSpecialInstructions {
    font-weight: 600;
    color: #6270BDFF; /* Replace with your actual color value */
    margin-bottom: 10px;
}

.requisitionModalRightMargin select {
    padding: .3em .5em;
    background: #fff;
    border: 1px solid #999;
}

/* Filter Select */
.searchContentContainer {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}


.searchBar {
    width: 100%;
}

.searchOptions__option {
    width: 100%;
    /*min-height: 26px;*/
}

.commodityCode {
    font-size: 13px;
}

.description {
    font-size: 70%;
}

.bold {
    font-weight: 700;
}

/*p {*/
/*    display: block;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    unicode-bidi: isolate;*/
/*}*/


/* Internal Error Popup styles*/
/*error-modal {*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    z-index: 9001;*/
/*}*/
/*.error-modal h1 {*/
/*    margin: .67em 0;*/
/*    margin-top: 0;*/
/*    color: #e64727;*/
/*    font-size: 2em;*/
/*    font-weight: 400;*/
/*    text-align: center;*/
/*}*/
/*error-modal .error-description {*/
/*    width: 45em;*/
/*}*/
/*error-modal pre.error-details {*/
/*    text-align: initial;*/
/*    max-height: 45vh;*/
/*    max-width: 45em;*/
/*    overflow: auto;*/
/*}*/
/*h3 {*/
/*    display: block;*/
/*    font-size: 1.17em;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    font-weight: bold;*/
/*    unicode-bidi: isolate;*/
/*}*/
/*.button-container {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/
input[type=button].neutralButton,
input[type=submit].neutralButton,
button.neutralButton {
    padding: 5px 10px;
    background: #8d8d8d;
    color: #fff;
    font-weight: 600;
    border: 2px none #737373;
    border-bottom-style: solid;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

/* Print */
/* Margins to use when printing */
@media print {
    .largePrintFontSize {
        font-size: 11pt;
    }

    .noPrint {
        display: none;
    }

    .printOnly {
        display: none;
        visibility: hidden;
    }

    .printGrayBottomBorder {
        border-bottom: 1px darkgray solid;
    }

    /* Print overrides of standard styles */
    html, body {
        background: white !important;
        height: 98%;
    }

    .contentWrapper {
        width: auto !important;
    }

    .viewAnimateContainer {
        width: auto !important;
    }

    .contentContainer {
        box-shadow: none !important;
    }
}

/* Example CSS definition for warn-important */
.warnImportant {
    border: 2px solid red; /* Example styling */
    background-color: #fdd; /* Example background color */
}

/* Reconciliation Tab Links */
.reconciliationTabLinks {
    content: '';
    display: block;
    clear: both;
}

.reconciliationTabLinks li {
    margin: 0 5px;
    float: left;
    list-style: none;
}

.reconciliationTabLinks li a {
    padding: 9px 30px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    background: #b3b3b3; /* This should be the lightened gray color */
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: all linear 0.15s;
}

.reconciliationTabLinks li a:hover {
    background: #374282; /* This should be the darkened blue-purple color */
    text-decoration: none;
}

@media print {
    .reconciliationTabLinks li a {
        display: none;
    }
}

.reconciliationTabLinks li.activeReconciliationTab a {
    background: #6270bd; /* This should be the blue-purple color */
    text-decoration: none;
}

.reconciliationTabLinks li.activeReconciliationTab a:hover {
    background: #374282; /* This should be the darkened blue-purple color */
    text-decoration: none;
}

@media print {
    .reconciliationTabLinks li.activeReconciliationTab a {
        display: inline-block;
        color: black;
    }
}

/**/
.essNotification {
    padding: .3em;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.essNotification {
    background: #e64727;
}
essNotification h1, .essNotification h2, .essNotification h3, .essNotification h4, .essNotification li, .essNotification p, .essNotification span {
    color: #fff;
}


/* Modal For reconcil*/
.confirmModal .confirmationMessage {
    padding: 20px;
    text-align: left;
}
.confirmModal .confirmationMessage h4, .confirmModal .confirmationMessage p {
    text-align: center;
    margin-top: 0;
}
.confirmModal .inputContainer {
    text-align: center;
}
.confirmModal .inputContainer input:first-child {
    margin-left: 0;
}

input[type=button].approveButton {
    padding: 5px 10px;
    background: #6270bd;
    color: #fff;
    font-weight: 600;
    border: 2px none #4655a6;
    border-bottom-style: solid;
}