/* universalStyles.css */
.contentContainer {
    font-size: 13px;
    font-weight: 400;
    background: #fefefe;
    position: relative;
    -webkit-box-shadow: 0 1px 2px #aaa;
    -moz-box-shadow: 0 1px 2px #aaa;
    box-shadow: 0 1px 2px #aaa;
    margin-top: 20px;
    box-sizing: border-box;
}
.contentContainer h1 {
    font-size: 1.1em;
    margin: 0;
    text-align: center;
    padding: 4px 10px;
    border-width: 1px;
    border-style: none none solid none;
    color: black;
    border-color: rgba(0, 107, 128, 0.25);
    line-height: 40px;
    font-weight: 600;
}

.contentInfo {
    margin-top: 0;
    padding: 11px;
    color: #222;
    text-align: center;
    border-bottom: 1px solid rgba(0, 107, 128, .25);
}

/* Other */
.paddingX {
    padding: 10px;
}
.darkGray {
    color: #4d4d4d;
}
h1, h2 {
    font-weight: 400;
}

/* Order Info */
.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.col412, .col812, .col112, .col1112 {
    width: 33.33%;
    float: left;
    padding-right: 20px;
}
.col812 {
    width: 66.66%;
}
.col112 {
    width: 8.33%;
}
.col1112 {
    width: 91.66%;
}
b, strong {
    font-weight: 700;
}

/* Item Table */
table.essTable {
    width: 100%;
}
.supplyListingTable {
    padding-top: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
table.essTable thead {
    background: #fff;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
table.essTable thead tr {
    color: #333;
    font-size: .9em;
    border-bottom: 1px solid #155c69;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}
table.essTable thead tr th {
    padding: 10px 5px;
}

table.essTable tbody tr {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #bbb;
}
.supplyListingTable tbody tr {
    border-bottom: 0 solid #eee !important;
    cursor: pointer;
}
table.essTable tbody tr td {
    text-align: left;
}
.supplyListingTable tbody tr td {
    padding: .5em;
    border: 0;
    text-align: center !important;
}
.supplyListingTable tbody tr:nth-child(even) {
    background: rgba(51, 51, 51, .05);
}

/* tick and cross for Approved Requisition Requests */
.tick:before {
    content: "\2713";
    color: green;
    font-weight: bold;
}
.cross:before {
    content: "\2717";
    color: crimson;
    font-weight: bold;
}

/*Buttons*/
.linkButton {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

/*Modals?*/
.requisitionModalRightMargin h4 .contentInfo {
    /* Add any necessary styles for .content-info here if it's a placeholder in your preprocessor */
}

.requisitionModalRightMargin input {
    margin-bottom: 10px;
}

.requisitionModalRightMargin div {
    margin-bottom: 10px;
}

.requisitionModalRightMargin .fulfillmentModalSpecialInstructions {
    font-weight: 600;
    color: #6270BDFF; /* Replace with your actual color value */
    margin-bottom: 10px;
}
