/* OrderHistoryIndex.module.css */


.contentContainer {
    font-size: 13px;
    font-weight: 400;
    background: #fefefe;
    position: relative;
    -webkit-box-shadow: 0 1px 2px #aaa;
    -moz-box-shadow: 0 1px 2px #aaa;
    box-shadow: 0 1px 2px #aaa;
    margin-top: 20px;
    box-sizing: border-box;
}
.contentControls {
    margin-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}
.contentInfo {
    margin-top: 0;
    padding: 11px;
    color: #222;
    text-align: center;
    border-bottom: 1px solid rgba(0, 107, 128, .25);
}
.contentControls>.contentInfo {
    border-bottom: none;
}
.supplyText {
    color: #374282 !important;
    font-weight: 700;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.col412 {
    width: 33.33%;
    float: left;
    padding-right: 20px;
}
.paddingX {
    padding: 10px;
}
.contentControls label, .content-controls p {
    font-weight: 600;
    color: #006b80;
}
.bold {
    font-weight: 700;
}
label {
    color: #111;
    font-weight: 300;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border: 0;
}
img.uiDatePickerTrigger {
    position: relative;
    left: -22px;
    top: 5px;
}

/**/
.heroContainer {
    padding: .3em;
    font-weight: bold;
    background: #6270BD; /* Replace with your actual color */
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.subHeroContainer {
    background: #fff;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    height: 250px;
}

.subHeroMessage {
    color: darkblue; /* Replace with your actual color */
    font-size: 1.0em;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.searchItem {
    margin-right: 20px;
    /*color: #086d80;*/
}

.resultsContainer {
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: darkslategrey;
}

.noResults {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Results Order Table*/
table.essTable {
    width: 100%;
}
.supplyListingTable {
    padding-top: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
table.essTable thead {
    background: #fff;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
table.essTable thead tr {
    color: #333;
    font-size: .9em;
    border-bottom: 1px solid #155c69;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}
table.ess-table thead tr th {
    padding: 10px 5px;
}

table.essTable tbody tr {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #bbb;
}
.supplyListingTable tbody tr {
    border-bottom: 0 solid #eee !important;
    cursor: pointer;
}
table.essTable tbody tr td {
    text-align: left;
}
.supplyListingTable tbody tr td {
    padding: .5em;
    border: 0;
    text-align: center !important;
}
.supplyListingTable tbody tr:nth-child(even) {
    background: rgba(51, 51, 51, .05);
}

/* Custom Rows */
.cellPENDING {
    background: #d19525; /* orange */
    color: #FFFFFF; /* white */
    font-weight: bold; /* replaced .bold mixin */
}

.cellPROCESSING {
    background: #4196a7; /* teal with 75% opacity */
    color: #FFFFFF; /* white */
    font-weight: bold; /* replaced .bold mixin */
}

.cellCOMPLETED {
    background: #799933; /* green */
    color: #FFFFFF; /* white */
    font-weight: bold; /* replaced .bold mixin */
}

.cellREJECTED {
    background: #FF4500; /* redorange */
    color: #FFFFFF; /* white */
    font-weight: bold; /* replaced .bold mixin */
}