@import "common/include";

/**
 * Styles for ESS Travel
 */

.pointer {
  cursor: pointer;
}

.travel-hero {
  .page-hero(@orange, white);
}

.travel-button-container {
  .margin-top-20;
  padding: 10px;
  background: #f9f9f9;
  input[type="button"] {
    margin-right: 5px;
  }
}

@travel-location-box-core: {
  display: inline-block;
  width: 100%;
  padding: 5px;
  height: 50px;
  text-align: center;
  line-height: 20px;
  background: #F6F6F6;
  border-radius: 5px;
  div {
    display:inline-block;
    text-align: center;
    vertical-align: top;
  }
};

.travel-origin-display-box {
  @travel-location-box-core();
}

.travel-destination-display-box {
  @travel-location-box-core();
  :nth-child(1) {
    float: left;
    width: 25%;
    font-size: 0.8em;
  }
  :nth-child(2) {
    width: 50%
  }
  :nth-child(3) {
    float: right;
    width: 25%;
    font-size: 0.8em;
  }
}

.travel-table {
  width: 100%;
  .text-align-center;
  thead {
    background: white;
    tr {
      color: #333;
      font-size: .9em;
      border-bottom: 1px solid #155C69;
      th {
        padding: 10px 5px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background: #fafafa;
      }
      td {
        .padding-10;
      }
    }
  }
}

.travel-allowance-label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-bottom: 10px;
}

.travel-gray-bottom-border {
  border-bottom: 1px solid rgba(0,107,128,.25);
}

.travel-hover{
  tbody {
    tr:hover {
      background-color: darken(color(#fafafa), 10%);
      cursor: pointer;
    }
  }
}

.travel-loading {
  width: 220px;
  height: 30px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}