@import "common/include";

/**
 * Styles for ESS Travel
 */

.travel-hero {
  .page-hero(@orange, white);
}

.travel-location-div {
  .clearfix;
  margin: 10px auto;
  padding: 5px;
  height: 50px;
  text-align: center;
  line-height: 20px;
  background: #E8E8E8;
  border-radius: 5px;
}

.travel-table {
  width: 100%;
  .text-align-center;
  thead {
    background: white;
    tr {
      color: #333;
      font-size: .9em;
      border-bottom: 1px solid #155C69;
      th {
        padding: 10px 5px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background: #fafafa;
      }
      td {
        .padding-10;
      }
    }
  }
}

.travel-allowance-label {
  display: inline-block;
  width: 120px;
  text-align: right;
}

.travel-gray-bottom-border {
  border-bottom: 1px solid rgba(0,107,128,.25);
}

.travel-hover{
  tbody {
    tr:hover {
      background-color: darken(color(#fafafa), 10%);
      cursor: pointer;
    }
  }
}

.travel-loading {
  width: 220px;
  height: 30px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}