@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
    html {
        @apply font-openSans;
    }

    body {
        @apply m-0 font-openSans text-base text-gray-800 bg-gray-100;
    }

    input {
        @apply focus-visible:outline-0;
    }

    select {
        @apply focus-visible:outline-0;
    }

    a {
        @apply text-teal-600 hover:text-teal-800 text-base;
    }

    button {
        @apply outline-none;
    }
}


/*  Custom css classes */
@layer components {

    .input {
        @apply p-1.5 border-1 border-gray-300 bg-gray-50
        focus-visible:border-gray-600
        disabled:bg-white disabled:border-none
        [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none
    }

    .input--invalid {
        @apply border-1 border-red-600
        focus-visible:border-red-600;
    }

    .select {
        @apply p-1.5 border-1 border-gray-300 bg-gray-50;
    }

    /* --- Table  Classes --- */
    .table {
        @apply w-full overflow-x-auto;
    }

    .table--sticky thead tr:nth-child(1) th {
        @apply sticky bg-white top-[45px] z-10 border-b-1 border-teal-600 shadow;
    }

    .table__head__row {
        @apply border-b-1 border-teal-600;
    }

    .table__head__cell {
        @apply py-3 px-5 font-semibold tracking-wide;
    }

    .table__head__cell--text {
        @apply text-left;
    }

    .table__head__cell--number {
        @apply text-right;
    }

    .table__body {
        @apply text-center;
    }

    .table__body--striped .table__row:nth-child(odd) {
        @apply bg-gray-75;
    }

    .table__body--striped .table__row--error:nth-child(odd) {
        @apply bg-red-300/50;
    }

    .table__body--highlight .table__row {
        @apply hover:brightness-90 transition duration-75 cursor-pointer;
    }

    .table__row {
        @apply bg-gray-25;
    }

    .table__row--error {
        @apply bg-red-300/30
    }

    .table__cell {
        @apply py-1.5 px-5;
    }

    .table__cell--bold {
        @apply font-semibold;
    }

    .table__cell--right {
        @apply text-right;
    }

    .table__cell--left {
        @apply text-left;
    }

    .table__cell--text {
        @apply table__cell--left;
    }

    .table__cell--number {
        @apply table__cell--right font-mono;
    }

    .table__totals {
        @apply font-semibold border-t-2 border-teal-600;
    }
}
