log4j.rootCategory=DEBUG, stdout

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.EnhancedPatternLayout
log4j.appender.stdout.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %t %c{2}:%L - %m%n

log4j.logger.org.springframework=WARN
# Set this to TRACE to log any executing SQL queries.
log4j.logger.org.springframework.jdbc=INFO
log4j.logger.com.mchange.v2 = WARN

log4j.logger.org.apache.shiro=WARN
log4j.logger.org.apache.jasper=DEBUG
log4j.logger.net.sf.ehcache.statistics.extended=WARN
