
# --- LDAP Authentication Test Data -------------------------------------------

# A valid ldap distinguished name relative to the base dn (ldap.base)
test.ldap.valid.dn=
# A valid ldap uid corresponding to the above dn
test.ldap.valid.uid =
# A valid ldap password corresponding to the above dn
test.ldap.valid.password =
