# Runtime Level (prod|dev).
RUNTIME_LEVEL=dev

# Should match the "domain.url" from app.properties
DOMAIN_URL=http://localhost:8080

# The STS Helpline phone number extension
HELPLINE_PHONE_NUMBER_EXTENSION=1111

# The Personnel office phone number
PERSONNEL_PHONE_NUMBER=(518) 111-1111