<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<display-name>Senate Electronic Timesheets</display-name>

    <error-page>
        <error-code>404</error-code>
        <location>/error/404</location>
    </error-page>

    <session-config>
        <!-- Disables URL-based sessions (no more 'jsessionid' in the URL using Tomcat) -->
        <tracking-mode>COOKIE</tracking-mode>
        <!-- Set the session to never timeout itself -->
        <session-timeout>-1</session-timeout>
    </session-config>

    <!-- Configures the Spring profile -->
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>dev</param-value>
    </context-param>

</web-app>