@import './positioning';
@import './colors';

#modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1002;
  .align-parent;

  & > ng-transclude, & > #common-modals{
    & > modal > * {
      &:not(.custom-fit) {
        .modal-fit;
      }
      background: #fafafa;
      display: block;
      margin: auto;
      position: fixed;
      .center-align;
      z-index: 1004;

      &.background-modal {
        z-index: 1002;
      }
    }
  }

  & #modal-backdrop {
    position: fixed;
    background: rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    z-index: 1003;
  }
}

.modal-max-height {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-max-width {
  max-width: 80vw;
  overflow-x: auto;
}

.modal-fit {
  .modal-max-height;
  .modal-max-width;
}

/** --- Common Modals --- */

#internal-error-modal {
  padding: 20px;
  text-align: center;
  z-index: 9001;

  & h1 {
    margin-top: 0;
    color: @redorange;
  }
  & p.internal-error-text {
    width:45em;
  }
  & pre.internal-error-details {
    text-align: initial;
    max-height: 45vh;
    max-width:45em;
    overflow: auto;
  }
}

#timeout-modal {
  padding: 20px;
  text-align: center;
  z-index: 9001;

  & h1 {
    margin-top: 0;
    color: @redorange;
    font-weight: 600;
    font-size: 1.3em;
    padding-bottom: 10px;
    border: 1px none rgba(0, 107, 128, .25);
    border-bottom-style: solid;
  }
  & p.timeout-text {
    font-size:1.1em;
    width:45em;
    margin-bottom: 2em;
  }
}

.progress-modal {
  height: auto;
  width: 400px;
  text-align: center;
}

.confirm-modal {
  h3 {
    margin-bottom: 0;
  }
  .confirmation-message {
    padding: 20px;
    text-align: left;
    h4 {
      text-align: center;
      margin-top: 0;
    }
  }
  .input-container{
    text-align: center;
    input {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

