@import "../lesshat";
@import "../main";
@import "include";

// Margins to use when printing
@page {
  //margin: 0 0 0 0 ;
  //margin: 25mm 25mm 25mm 25mm;
}

.large-print-font-size {
  @media print {
    font-size: 14pt;
  }
}

.no-print {
  @media print {
    display: none;
  }
}

.print-only {
  display: none;
  @media print {
    display: block !important;
  }
}

// Print overrides of standard styles

@media print {
  html, body {
    background: white !important;
    height: 98%;
  }

  .content-wrapper {
    width: auto !important;
  }
  .view-animate-container {
    width: auto !important;
  }
}